<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Final, Financial Algorithms, programming services for hedge funds and retail traders.">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>Financial Algorithms</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/photoswipe/dist/photoswipe.css" />
  <link rel="stylesheet" href="../bower_components/photoswipe/dist/default-skin/default-skin.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header class="app-bar promote-layer">
  <div class="app-bar-container">
    <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
    <!-- <h1 class="logo">Web <strong>Starter Kit</strong></h1> -->
    <div class="logo-image-text">
      <img class="logo-image" src="images/logo/Logo_final_white.svg">
      <p>Software Tools and Services for <strong>Traders</strong></p>
    </div>
    <section class="app-bar-actions">
      <!-- Put App Bar Buttons Here -->
      <!-- e.g <button><i class="icon icon-star"></i></button> -->
    </section>
  </div>
</header>

<nav class="navdrawer-container promote-layer">
  <h4>Navigation</h4>
  <ul>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="#get-started">News</a></li> -->
    <li><a href="/services.html">Services</a></li>
    <li><a href="/products.html">Products</a></li>
    <li><a href="/partners.html">Partners</a></li>
    <li><a href="styleguide.html">Contact</a></li>
  </ul>
</nav>

<main>
  {{> content}}
</main>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

<!-- build:js scripts/main.js -->
<script src="../bower_components/photoswipe/dist/photoswipe.js"></script>
<script src="../bower_components/photoswipe/dist/photoswipe-ui-default.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/photoswipe.js"></script>
<!-- endbuild -->
</body>
</html>
