<section>
  <div class="container">
      <h2>Final - Contact</h2>
      <p>Email</p>
      <h3><a href="mailto:financial.algorithms@gmail.com">financial.algorithms@gmail.com</a></h3>
      <br>

      <p>Web site</p>
      <h3><a href="http://www.fin-alg.com">http://www.fin-alg.com</a></h3>
      <br>

      <p>Skype</p>
      <h3><a href="skype:mulyoved?chat">mulyoved</a></h3>
      <br>

      <p>Facebook</p>
      <h3><a href="http://www.facebook.com/pages/Final-Financial-Algorithms/101355999958273">Final Financial Algorithms</a></h3>

  </div>
</section>
