<section class="styleguide__editorial-header">
  <div class="editorial-header">
    <div class="container">
      <h2 class="xlarge">About Us</h2>
      <img class="logo-image" src="images/logo/Logo_final.svg">
      <p class="editorial-header__excerpt g-wide--pull-1">Financial Algorithms provide advance programming services for hedge funds and retail traders. Final employees have many years of programming experience and understand the high demands of the trading industry. We can deliver tailor made solutions to meet our customer's requirements.
        Financial Algorithms specializes in development and back testing of automatic strategies including:</p>

      <ul>
        <li>Multi Market Strategies</li>
        <li>High Frequency Trading</li>
        <li>Scalping</li>
        <li>Short and Long Term Strategies</li>
        <li>Scanners</li>
        <li>Stocks</li>
        <li>Options analyze </li>
        <li>Forex and Foreign Markets with Custom Software</li>
      </ul>

      <p>Final also provides the leading solutions for industry leading tools like NinjaTrader, TradeStation, MetaTrader, MultiCharts, eSignal and more.</p>

      <ul class="list-links list-links--primary">
        <li class="list__item"><a href="/final/services/" title="Services">Services...</a></li>
        <li class="list__item"><a href="/final/products" title="products">Products...</a></li>
      </ul>
    </div>
  </div>
</section>

<ul class="guides-list container-medium">
  <li class="guides-list__item g--half">
    <div class="product-content">
      <h3 class="xlarge"><a href="/products/marketbalance.html" title="Go to MarketBalance" class="themed">MarketBalance</a></h3>
      <a href="/products/marketbalance.html"><img class="g-centered" src="/images/thumbnails/MarketBalance1.png" alt="Final MarketBalance" border="0" height="190" width="240"></a>
    </div>
    <p>MarketBalance allows you to view the relationship between the powers that move the market in real time as the balance between them change during trading sessions.</p>
    <div class="secondary-content">
    </div>
  </li>
  <li class="guides-list__item g--half g--last">
    <div class="product-content">
      <h3 class="xlarge"><a href="/products/tpo.html" title="Go to TPOChart" class="themed">TPOChart</a></h3>
      <a href="/products/tpo.html"><img src="/images/thumbnails/tpo1.png" alt="TPOChart" border="0" height="190" width="240"></a>
    </div>
    <p>TPOChart provides users with the information needed to understand the market's internal structure and development using unique presentation of market data.</p>
    <div class="secondary-content">
    </div>
  </li>
</ul>
