<div class="container">
  <h2>MarketBalance Frequently Asked Questions</h2>
    <div class="togglebox">
      <q>Do I need separate data feed?</q>
      <a>
No any data feed that work with NinjaTrader and offer real time data will be OK for MarketBalance, if you connect NT with your broker then the broker data is OK
      </a>

      <q>What is the difference between MarketDelta and MarketBalance?</q>
      <a>
They are very much the same, MarketBalance work on NinjaTrader and cost less, MarketDelta and MarketBalance share the same ideas and most of the important features are the same, they do very in some other features
      </a>

      <q>Does MarteBalance work with Forex</q>
      <a>
Yes, make sure to select Up/Down tick and not Bid/Ask calculation method
      </a>

      <q>Does MarteBalance work with Stocks and EFT</q>
      <a>
Yes, make sure to configure "Prices Per Row" to large number like 10 or 100 in order to collect several levels into one row
      </a>

      <q>Is MarketBalance Available for Purchase at one time fees?</q>
      <a>
Yes, Cost is $750 in 3 convenient payments, price include life time upgrades. use this [link the purchase](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VHN87J3K72EGN)
      </a>

      <q>Why the total contracts traded per the NinjaTrader “Market Analyzer” differ from the “Market Balance” total cumulative volume</q>
      <a>
"Market Balance total cumulative volume" use the volume data as report by NT and you can confirm this with the using the VOL indicator of NT, you will see they match.

NT Market analyzer use different total daily volume data which is reported by the exchange/data vendor and it is not the summary of all the reported data but something different. you can confirm this by comparwe to the total volume reported by the VOL indicator, you will see they are different.
      </a>


      <q>How to uninstall?</q>
      <a>
In NinjaTrader Control Center choose File-> Utilities->Remove NinjaScrip Assmbly, from the list of assmblies select Final.MarketBalance and press the Remove button.
      </a>
  </div>
</div>
{{> imageswipe}}
