<div class="container">
  <h2>MarketBalance Frequently Asked Questions</h2>

  <div class="togglebox">
      <input id="toggle2" type="radio" name="toggle"/>
      <label for="toggle2">Do I need separate data feed?</label>
      <section id="content2">
          <p>
              No any data feed that work with NinjaTrader and offer real time data will be OK for MarketBalance, if you connect NT with your broker then the broker data is OK
          </p>
      </section>

      <input id="toggle3" type="radio" name="toggle" />
      <label for="toggle3">What is the difference between MarketDelta and MarketBalance?</label>
      <section id="content3">
          <p>
              They are very much the same, MarketBalance work on NinjaTrader and cost less, MarketDelta and MarketBalance share the same ideas and most of the important features are the same, they do very in some other features
          </p>
      </section>

      <input id="toggle4" type="radio" name="toggle" />
      <label for="toggle4">Is MarketBalance Available for Purchase at one time fees?</label>
      <section id="content4">
          <p>
              Yes, Cost is $750 in 3 convenient payments, price include life time upgrades. use this <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VHN87J3K72EGN">link the phurcase</a>
          </p>
      </section>

      <input id="toggle1" type="radio" name="toggle"/>
      <label for="toggle1">How to uninstall?</label>
      <section>
          <p>
              In NinjaTrader Control Center choose File-> Utilities->Remove NinjaScrip Assmbly, from the list of assmblies select Final.MarketBalance and press the Remove button.
          </p>
      </section>


  </div>
</div>
