<section>
  <div class="container">
    <h2>NinjaTrader</h2>
    <br/>
    <img src="/images/partners/NT7_RecommendedLogo.png" alt="" width="528" height="76">
    <p>NinjaTrader™ is our #1 recommended active trader platform.  We are pleased to offer NinjaTrader™ to our clients for many reasons but one great reason is that you can get started with NinjaTrader™ for Free!  Why pay hundreds of dollars per month for products with less functionality when with NinjaTrader™ all you need is access to a real-time or historical data feed.  You can also connect NinjaTrader™ to Kinetick™, our recommended market data service, for free End-of-Day data!</p>
    <ul class="list-links list-links--primary">
      <li><a href="http://www.ninjatrader.com/download-registration.php" title="Download">Download NinjaTrader™ Now</a></li>
      <li><a href="http://www.fin-alg.com/partners/ninjatrader.html" title="Download">Read more...</a></li>
    </ul>
  </div>
</section>

<section>
    <div class="container">
        <h2>Kinetick</h2>
        <br/>
        <img src="/images/partners/kinetick_partner_logo.png" alt="" width="393" height="104">
        <p>Active Traders world-wide demand reliability, speed, accuracy and cost-effectiveness from their financial market data provider. Introducing Kinetick…a streaming real time quotes service for STOCKS, FUTURES and FOREX that exceeds the expectations of the worlds most demanding traders.</p>
        <ul class="list-links list-links--primary">
            <li><a href="http://www.kinetick.com/" title="Kinetick">Kinetick</a></li>
        </ul>
    </div>
</section>

<section>
    <div class="container">
        <h2>IQFeed</h2>
        <br/>
        <img src="/images/partners/IQFeed.png" alt="" width="120" height="90">
        <p>Professional Data Feed – Futures, Stocks, Forex  and Options Data!
        <ul>
            <li>Unfiltered Data – True Tick-by-Tick, Every Trade and Every Quote!</li>
            <li>Deep Historical Data – 180 days of tick (Pre and Post), 10+ Years of 1 minute data on eMini’s, 15+ years on daily, weekly and monthly!</li>
            <li>Millisecond Precision Time Stamps  - More granularity for backtesting, algos and analytics!</li>
            <li>700+ Market/Breath Indicators – TICK, TRIN, PCRATIO and much more!</li>
            <li>Watch up to 1800 symbols simultaneously!</li>
            <li>Connect to UNLIMITED supporting analytical applications at the same time/same pc without needing another user license!</li>
            <li>Streaming News!</li>
            <li>Around the clock customer support – 24/6 via chat/email and phone during normal trading hours</li>
            <li>Redundant Data Centers – An entire data center can go down and you will still continue getting your data feed!</li>
            <li>CME Globex Non-Pro Fee Exchange Fee Discounts Available for Qualified Traders!</li>
            <ul>
            Please contact our rep “James To” directly at <a href="mailto:james.to@dtn.com">james.to@dtn.com</a> or call 402.255.8432 and mention “Final Financial Algorithms” for your SPECIAL DISCOUNTS (NOT available online) and any help.</p>
        <ul class="list-links list-links--primary">
            <li><a href="https://www.iqfeed.net/jamesto/index.cfm?displayaction=start" title="IQFeed">IQFeed</a></li>
        </ul>
    </div>
</section>

<section>
    <div class="container">
        <h2>IQFeed</h2>
        <br/>
        <img src="/images/partners/OrbitalLogo400x173.png" alt="" width="400" height="173">
        <p><a href="http://www.orbitalcomputers.com/" title="Orbital Computers">Orbital Computers</a> offers custom stock trading computers for serious day-traders at industry low prices.  Our computers are specifically designed to maximize reliability, system stability, and performance, while providing remarkable multi-monitor expandability. All of our trading computers are hand built in the USA and every order ships FREE. We custom configure every trading computer to your unique needs, making certain you get the absolute best computer at the lowest price possible. Contact us at <a href="http://www.orbitalcomputers.com/" title="Orbital Computers">Orbital Computers</a> today!</p>
    </div>
</section>

<section>
    <div class="container">
        <h2>OrbitalComputers</h2>
        <br/>
        <img src="/images/partners/OrbitalLogo400x173.png" alt="" width="400" height="173">
        <p><a href="http://www.orbitalcomputers.com/" title="Orbital Computers">Orbital Computers</a> offers custom stock trading computers for serious day-traders at industry low prices.  Our computers are specifically designed to maximize reliability, system stability, and performance, while providing remarkable multi-monitor expandability. All of our trading computers are hand built in the USA and every order ships FREE. We custom configure every trading computer to your unique needs, making certain you get the absolute best computer at the lowest price possible. Contact us at <a href="http://www.orbitalcomputers.com/" title="Orbital Computers">Orbital Computers</a> today!</p>
    </div>
</section>

<section>
    <div class="container">
        <h2>cAlgo</h2>
        <br/>
        <img src="/images/partners/cAlgo_logo.png" alt="" width="400" height="119">
        <p><a href="http://www.spotware.com/products/client-side-applications/calgo">cAlgo</a> is a powerful algorithmic trading platform that is part of the cTrader platform suite. Developed by Spotware Systems, an award-winning financial technology provider for STP and direct-access trading, cAlgo is part of a range of the fastest growing trading platforms in FX and other financial markets. cAlgo can be used to build and test custom trading robots and indicators of any degree of complexity.</p>
        <p>Visit <a href="http://ctdn.com/">cTDN.com</a> to join the cAlgo developers community, or go to  <a href="http://www.spotware.com/">www.spotware.com</a> to read more about our platforms.</p>
        <ul class="list-links list-links--primary">
            <li><a href="http://www.spotware.com/" title="Download">Download cTrader</a></li>
            <li><a href="http://www.spotware.com/" title="Download">Download cAlgo</a></li>
        </ul>
    </div>
</section>

<section>
    <div class="container">
        <h2>The Blue Collar Trader</h2>
        <br/>
        <img src="/images/partners/bluecollartrader_small.png" alt="" width="300" height="172">
        <p>Not only does The Blue Collar Trader provide resources for quality day trading education, but resources for brokers, trading platforms, webinar events, Live Trading Rooms, video Recaps, technology, jobs and much more. Subscribe to our blog today and receive new market updates, discounts, and education from a network of quality companies and educators.
            Visit us at <a href="http://www.thebluecollartrader.com/">www.thebluecollartrader.com</a></p>
    </div>
</section>

<section>
    <div class="container">
        <h2>FuturesFx</h2>
        <br/>
        <img src="/images/partners/futuresfx_ca_logo_small.jpg" alt="" width="300" height="49">
        <p>3 room 3 traders 3 Time zones<br/>
            Use non lagging indicators<br/>
            Learn to trade with 1 to 3 ticks smart stops<br/>
            Spot your end off buying and selling<br/>
            Watch the short videos below and familiarise yourself with our strategy</p>
        <ul class="list-links list-links--primary">
            <li><a href="http://www.screencast.com/t/oG5QOEnC6xmS" title="Video">Video 1, 2, 3, 4 and 5</a></li>
            <li><a href="http://www.futuresfx.ca/" title="futuresfx">www.FuturesFx.Ca</a></li>
        </ul>
    </div>
</section>

<section>
  <div class="container">
      <h2>iTradePod</h2>
      <br/>
      <img src="/images/partners/iTradePod_Logo.jpg" alt="" width="380" height="95">
      <p>iTradePod mentors traders to achieve financial independence. Since inception, iTradePod has been dedicated to achieving trader excellence by providing invaluable <a href="http://www.itradepod.com/Clients">market data</a>,
          <a href="http://www.itradepod.com/education">education,</a> training and trading experience for traders by traders. The iTradePod approach allows traders to learn and apply the time tested concepts of Auction Market Theory, Market Profile® and Order Flow; one of the few reliable methods that consistently and objectively describe the state of the market across all time frames.</p>
      <p>These <a href="http://www.itradepod.com/Education/ValueTradingBasics">Value Trading</a> principles allow traders to identify powerful market moves and locate high probability trade setups. Serious traders are encouraged to join their interactive Live Call
          <a href="http://www.itradepod.com/Services/TradingRoom">Trading Room</a> where clients can ask questions to the Head Trader whilst he analyses the chart, divulges trading setups and executions to the audible backdrop of the energetic CME S&P 500 Pit Trading Floor activity via their
          <a href="http://www.itradepod.com/Products/Squawk">Live Squawk Box feed.</a></p>
      <p>For further details on the iTradePod approach, please visit <a href="http://www.itradepod.com/">www.itradepod.com.</a></p>
  </div>
</section>

<section>
    <div class="container">
        <h2>Emini Trading School</h2>
        <br/>
        <img src="/images/partners/emini.jpg" alt="" width="350" height="110">
        <p>Advanced Market Profile Trading Made SimpleYou now can learn Market Profile Trading everyday and with all the Nuances answered real time. Market Profile Trading will change your trading life, it will change how much time you do not waste in the non-random markets, or time wasted on wondering each day and night to why you do not know where the markets are going.</p>
        <ul>
          <li>We display day types and small .75 to 1.50 risk and potential reward size to each day type as well as display good trade location.</li>
          <li>We show you how we prepare our trading plan pre-market and discuss how we trade with a trading plan during the day.</li>
          <li>We review the current day type and entries that our simple Market Profile Trading Plan generated for us.</li>
          <li>We discuss the 4 W's of Market Profile Trading. What, Where, When and Why!!</li>
          <li>You can WIN everyday with a correct trading plan which reads the correct day type! You can start to see 90% accuracy with your trading and know 95% plus of the time to why the market turned where it turned intraday. </li>
        </ul>
        <p>In the interim please download our Market Profile Glossary and FREE Portfolio Maiximizer Accounting software which will compound your returns and Free Market Profile TPO Ninja Trader Fin-Alg Video and EminiTradingSchool Automatic Market Profile Software for NinjaTrader.</p>
        <p>Our links for these items are located at <a href="http://eminitradingschool.com/">http://eminitradingschool.com/</a></p>
    </div>
</section>
