<section>
  <div class="container">
    <h2>Transaction Completed</h2>
      <p>
          Thanks for your purchase.
      </p>
      <p>
          In few minutes you should get email to your PayPal email address,
          <br/>
          <b>if you don't get it check the spam folder!</b>
      </p>
      <p>
          The email contain download link and license key that will enable you to activate your product.
      </p>
      <p>
      Financial Algorithms Team
      </p>
  </div>
</section>
