<section class="styleguide__editorial-header">
  <div class="editorial-header">
    <div class="container">
      <h2 class="xlarge">NinjaTrader Programming</h2>
        <br />
      <img src="/images/partners/ninjatrader_logo.png" alt="" height="55" width="384">
      <p class="editorial-header__excerpt g-wide--pull-1">In the last seven years, Final has invested in fully understanding NinjaTrader platform capabilities, and developed a technology that maximizes the NinjaTrader technology.
          <br />
          <br />
          One of the outstanding NinjaTraders platform features is that because the platform is open, professional programmers can easily customize the application using standard C# code and libraries. This  provides an un-matched level of customization when developing studies for the platform.
          <br />
          <br />
          Over the years we programmed hundreds of indicators and automatic strategies for individual traders and hedge funds. In addition, because our programmers are also accomplished traders and communicate daily with other traders, Final has an inside understanding of how the market works, and how different users approach the market.</p>
        <h3>Sample programming work for NinjaTrader include:</h3>
      <ul>
          <li>Automatic Strategies.</li>
          <li>Custom Indicators.</li>
          <li>Market Analyzer Studies.</li>
          <li>Customized Order Entry and Management Forms</li>
          <li>Special NinjaTrader Data and Broker Adapters.</li>
          <li>Interface with External Services, for example, Databases, Web Servers.</li>
          <li>Interface with External Programs, for example, MATLAB, Excel, DDE, DLL, and many more.</li>
      </ul>

      <ul class="list-links list-links--primary">
          <li class="list__item"><a href="/final/contact/" title="Contact">Contact us</a> with your ideas and let us help you improve your trading.</li>
      </ul>
    </div>
  </div>
</section>

<section class="styleguide__editorial-header">
  <div class="editorial-header">
    <div class="container">
        <h2 class="xlarge">Additional Trading Platform Solutions</h2>
        <p class="editorial-header__excerpt g-wide--pull-1">Just as the markets fluctuate, so do our customer's demands. While most of Final's technologies are based on NinjaTrader We also support other platforms</p>
        <h3>We support the following platforms:</h3>
        <ul>
            <li>TradeStation</li>
            <li>RightEdge</li>
            <li>eSignal</li>
            <li>OEC</li>
            <li>MetaTrader (Both 4 and 5)</li>
            <li>cAlgo</li>
        </ul>
        <img src="/images/platforms/esignal.png" alt="" height="51" width="94">
        <img src="/images/platforms/tradestation.png" alt="" height="48" width="220">
        <img src="/images/platforms/rightedge.png" alt="" height="51" width="127">
        <img src="/images/platforms/oec.png" alt="" height="51" width="103">
        <img src="/images/platforms/metatrader.png" alt="" height="70" width="67">
        <img src="/images/platforms/calgo_round.png" alt="" height="70" width="67">
    </div>
  </div>
</section>

<section class="styleguide__editorial-header">
  <div class="editorial-header">
    <div class="container">
      <h2 class="xlarge">Custom Solutions</h2>
      <p class="editorial-header__excerpt g-wide--pull-1">Final's has vast experience in creating programming solution for a broad spectrum of technologies. We offer wide variety of programming services</p>
      <h3>Sample project including:</h3>
      <ul>
          <li>Standalone trading platform and program development</li>
          <li>Mobile Applications</li>
          <li>Web Servers and distributed applications</li>
      </ul>
        <p>Most of Final's financial solutions are written in C# and JavaScript but we can provide software packages also in Java and C++.</p>
    </div>
  </div>
</section>
