<div class="container">
    <h2>Strategy - Frequently Asked Questions</h2>

    <div class="togglebox">

    <q>Databox: How to understand why the strategy didn't place a trade</q>
    <a>
<img src="/images/strategy-faq/Databox.png" width="397" height="242">
    </a>

    </div>
</div>
{{> imageswipe}}
