<div class="container">
  <h2>TPO and Volume Profile Chart Frequently Asked Questions</h2>

  <div class="togglebox">
      <input id="toggle1" type="radio" name="toggle"/>
      <label for="toggle1">How do I manually split and merge profiles</label>
      <section>
          <p>
              Use the chart context menu (right mouse click)
          </p>
          <img src="/images/faq/tposplitandunplit.jpg"">
      </section>

    </div>
</div>
