<div class="container">
    <h2>TPO and Volume Profile Chart Frequently Asked Questions</h2>

    <div class="togglebox">

    <q>How do I manually split and merge profiles</q>
    <a>
Use the chart context menu (right mouse click)

<img src="/images/faq/tposplitandunplit.jpg" width="480" height="352">
    </a>

    <q>How do I split the profile for day and night sessions</q>
    <a>
<img src="/images/faq/sessionmanager.png" width="400" height="247">

To configure the session times and optionally split the profile for day and night session, use the new NT7 session manager to configure the sessions times.

<img src="/images/faq/selectsessiontemplate.png" width="400" height="355">

use this session template when you open the chart, TPOChart will use the session information and will build a profile for each session

For example, in the session manger you can configure those sessions

Sunday 4:16 PM to Monday 9:30 AM

Monday 9:30 AM to Monday 4:15 PM

Monday 4:16 PM to Tuesday 9:30 AM

And so on

To test this open a normal 10 min chart, make sure you get the correct sessions, The add the TPOChart indicator to the chart and set Show Bars = True so you can see the exact bars of each session.
    </a>

    <q>How to turn off the TPO display and only have the Volume profile on the charts?</q>
    <a>
Set parameter #02 Show TPO = False
<img src="/images/faq/hide_tpo2.png" width="400" height="294">
    </a>

      <q>How to display a profile for specific date range?</q>
      <a>
This is not directly supported but you can:
* Display long term profiles like weekly/monthly/yearly profiles (See paramter Session Type)
* Display profile for say 180 days back (paramter Session Type = DaysBack and Session Value = 180)
* Merge profiles manually

<img src="/images/faq/daysback.png" width="400" height="301">

      </a>

      <q>How to scale the graphic/scroll vertically?</q>
      <a>
To Scroll, use Ctrl-Click on the right side price panel and drag the mouse to reposition

To resize you can click on the right side price panel and drag to change the scale.

A box with an "F" (Fixed) will appear in the upper right corner of the chart margin anytime the vertical chart axis is manually adjusted. This signifies the chart axis is set to a "fixed" scale. Left mouse click this button to return to auto scale.

Also to control how many ticks each letter represent you can modify the value of "Prices per Row (Ticks)" try set it to 4 or 10 this can help to better fit the letters into the chart.
      </a>

      <q>How to make the bars plot above the profiles so the profile does not hide the bars</q>
      <a>
On the indicator properties set "01: Show Bars" = True

Then to configure the normal chart bars to plot above the profiles you need to change the Z Order of the bars, to do it:

Make sure the bars are selectable, got to chart properties (Ctrl-T) and set "Allow the selection or drag/drop of chart series" = true

Select the bars by click on them

Use the Shift and Mouse scroll wheel to change the bars Z order until they plot above the graphics
          <img src="/images/faq/zorder3.png" width="544" height="342">
      </a>

      <q>Customized The Volume Histogram Colors</q>
      <a>
<img src="/images/faq/paint colored volume histogram.png" width="640" height="402">

Other options for Volume Bars Color Mode are One Color and Gradient
<img src="/images/faq/gradient colors.png" width="640" height="472">
      </a>

      <q>How to show "x Days Back" profile at the right or left of the chart</q>
      <a>
<img src="/images/faq/show last x days profile.png" width="640" height="388">
      </a>

        <q>How to show VPOC (Volume based Point of Control)</q>
      <a>
Set Value Area Calculation type to Volume, see image, if you want to show both you can use the "2nd Value Area" options.
<img src="/images/faq/vpoc.png" width="706" height="392">
      </a>

      <q>How to make the data box (upper left window) larger</q>
      <a>
Change the font size of the data box to control the font and data box size, see image
<img src="/images/faq/tpodataboxsize.png" width="480" height="344">
      </a>

      <q>Some days data is missing, what can be done?</q>
      <a>
TPOChart is based on NinjaTrader data, to analyze the problem:
* Open new normal 10 min chart, make sure you get all the data if not, use the chart context menu to realod history
* Add the TPOChart Indicator to the chart, don't use the template, just add the indicator to the chart
* Set Show Bars (Overlay) = True, this will show the chart bars, see if you still get all the bars for the missing days
      </a>

      <q>What is Rotation Factor?</q>
      <a>
<img src="/images/faq/mprotationfactor.png" width="340" height="299">

Rotation Factor - Each letter is given a +1 if it's high is above high of previous letter, and a -1 if it's high is below high of previous letter. In addition, a +1 or -1 is added based on whether the low was above or below the previous low. Each letters RF (anywhere from -2 to +2) is summed to provide the RF of the profile.
      </a>

      <q>What is TPO Count numbers in the data box?</q>
      <a>
<img src="/images/faq/mptpocount.png" width="300" height="264">

Total number of letters, and in brackets, above /below the POC.
      </a>

      <q>How Value Area/POC are calculated</q>
      <a>
Three calculation methods are supported,

* TPO is the classic original Steidlmayer method to take the price with the largest amount of TPO (POC) and then go up and down until 68% of the TPO are included
* Volume is based only on volume, take the price that has the largest volume and do up and down until 68% of the volume is included.
* VWAP is a more modern calculation that start from [VWAP](http://www.investopedia.com/terms/v/vwap.asp) which is a weighted average of the price based on volume
<img src="/images/faq/va_calculation.png" width="420" height="400">
      </a>

<q>What is Initial Balance</q>
<a>
Initial Balance is drawn on bar to the left of the profile, usually you select 2 to draw the 1st trading hour range called initial balance (2 TPO = 60 min) some studies use it for support and resistance levels as well as 150% and 200% of this range.
</a>

    <q>What is the idea and use behind the session split template on the TPO Indicator?</q>
    <a>
If you want to save for same instrument different split you need to give each other different name, otherwise you can leave it empty
    </a>

      <q>What is HVN/LVN Sensitivity, how to use it?</q>
      <a>
Say Sensitivity is 10, To qualify a price level to be HVN volume at price need to be higher then the volume of each of the 10 ticks above it and each of the 10 ticks below it.
      </a>

      <q>How do I configure for hourly profile and 3 min TPO Size?</q>
      <a>
<img src="/images/faq/3minTPOSize.png" width="480" height="305">
      </a>

      <q>Change letter color</q>
      <a>
Right now letters colors are hard coded, can change all of them to diffrent color or use the predefined color schema, to change:
<img src="/images/faq/tpochangelettercolor.png" width="480" height="385">
      </a>

      <q>How to build a profile “from a start date”?</q>
      <a>
Set session Type = Date

Set Start Date
<img src="/images/faq/tpoprofilefromdate.png" width="480" height="372">
      </a>

      <q>How to use with EOD (Daily) data?</q>
      <a>
See image for recommended setup
<img src="/images/faq/tpowithdailychart.png" width="640" height="312">
      </a>

      <q>Will TPOChart will work with my data feed?</q>
      <a>
Any data feed that work with NinjatTrader will be fine for TPOChart
      </a>

      <q>What type of data is needed?</q>
      <a>
Usually TPOChart need 1 min data, for extra accuracy tot he calculation of the volume profile 1 tick data can be used (configurable)
      </a>

      <q>What is "Use 1 tick data"?</q>
      <a>
Can be used to get more accurate volume profile, does not recommended as it take more CPU and the difference in the volume calculation is not significant
      </a>

      <q>Where I can find the latest version?</q>
      <a>
Latest version can always be found in [Products](/products.html) page
      </a>

      <q>Can I can get notifications on new versions?</q>
      <a>
Updates notifications are posted to this [Facebook Page](https://www.facebook.com/pages/Final-Financial-Algorithms/101355999958273)
      </a>

      <q>How do I check which version I have?</q>
      <a>
On the Installer when installing the package
<img src="/images/faq/TPOChartInstallerVersion.png" width="418" height="325">

On NinjaTrader log
<img src="/images/faq/TPOChartVersion.png" width="612" height="127">
      </a>

      <q>I have two PC can I install TPOChart on both using one license?</q>
      <a>
Yes, you can use TPOChar on up to two PC for the price of one license
      </a>

      <q>Downloaded and installed TPOChart, cannot find it in my indicator list</q>
      <a>
* Confirm the installation was working correctly by checking the folder Documents\NinjaTrader 7\bin\Custom and make sure you have a file Final.TPOChart.dll,
  * If not exit NinjaTrader, make sure AntiVirus is disabled and run the installer again.
  * If still cannot find it check if the dll was installed under different user, users can be found under "C:\Users\" and you should check each "C:\Users\\[user]\Documents\NinjaTrader 7\bin\Custom" folder for the dll, in that case try to install again and make sure to install to the correct user or you can just copy the dll to the right user.
* After starting NinjaTrader check the NinjaTrader log and make sure DLL was loaded correctly, look for a line that say "Vendor assembly 'Final.TPOChart' version='4.0.0.22' loaded"
* Open the indicator list and look for " TPO and Volume Profile Chart (v4)", Notice it should be at the top of the list as there is a leading space to the name.
      </a>

      <q>Can I see list of parameters?</q>
      <a>
List of available configurable parameters
<img src="/images/faq/TPOChart_Parameters.png" alt="TPOChart_Parameters" width="500" height="954">
      </a>

      <q>Do you have any suggestion or tutorial how to trade with TPOChart?</q>
      <a>
Start from here [Trading Naked](http://www.trading-naked.com/MarketProfile.htm)

and

Free TPO Class [EminiTradingSchool](http://eminitradingschool.com/free-tpo-class/)
      </a>

    </div>
</div>
{{> imageswipe}}
