<div class="container">
  <h2>TPO and Volume Profile Chart - Range Select: Frequently Asked Questions</h2>
    <div class="togglebox">
      <q>How to make it work on volume based chart?</q>
      <a>
Make sure to set Data Collection Type to be based on ticks and not minute
<img src="/images/faq/tpo_rangeselect_volumebased.png" width="538" height="300">
      </a>
  </div>
</div>
{{> imageswipe}}
